.Category{
    .container.content{
        min-height: calc(100vh - 220px );
        padding: 1rem;
        .title{
            margin-top: 0.5rem;
        }
        // .ProductList .grid{
        //     justify-content: left;
        // }
    }
}
@media screen and (max-width: 768px) {
    .Category{
        .container.content{
            
            .title{
                text-align: center;
            }
            .ProductList .grid{
                // justify-content: center;
                grid-row-gap: 20px;
            }
        }
    }
}