.Footer{
    width: 100%;
    background-color: $primary-color;
    justify-content: center;
    padding: 0 2rem;
    .wrapper{
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(4, 250px);
        height: 100%;
    }
    .section{
        // background-color: red;
        float: left;
        padding: 1rem 0.5rem;
        h2{
            margin-bottom: 0.8rem;
            font-size: 0.9rem;
        }
        // margin-left: 1rem;
        &:first-child{
            margin-left: 0;
        }
    }
    .about-us{
        width: 250px;
        min-height: 200px;
        .foot-logo{
            background-color: white;
            height: 4.5rem;
            width: 12.7rem;
            align-items: center;
            justify-content: center;
            line-height: 46px;
            font-size: 1.4rem;
            font-weight: bolder;
            border-radius: 5px;
            margin-bottom: 1.1rem;
            
        }
        >p{
            font-size: 0.8rem;
            text-align: left;
        }
        >a{
            color: $secondary-color;
        }
    }
    .popular-tags{
        width: 250px;
        .flex{
            width: 100%;
            flex-wrap: wrap;
            row-gap: 0.3rem;
            column-gap: 0.5rem;
        }
        .tag{
            padding: 0.4rem 0.25rem; 
            outline: 1px solid $grey-accent;
            display: inline-block;
            font-size: 0.7rem;
            text-align: center;
            flex:1 1 auto;
        }
    }
    
    .follow-us{
        width: 250px;
        height: auto;
        .flex{
            flex-direction: column;
            min-height: 150px;
            justify-content: space-between;
            .social{
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 0.75rem;
                i{
                    margin-right: 0.8rem;
                }
            }
        }
    }
    
    .contact{
        width: 250px;
        font-size: 0.75rem;
        div{
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width: 768px) {
    .Footer{
        // padding: 0 0;
        .wrapper{
            justify-content: center;
            align-items: center;
            .section{
                border-bottom: 1px solid #00000029;
                width: 100%;
                &:last-child{
                    border: none;
                }
                h2{
                    text-align: center;
                }
            }
        }
    }
  }

  @media screen and (max-width: 1024px) {
    .Footer{
        // padding: 0 0;
        .wrapper{
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, 250px);
        }
    }
  }

  @media screen and (max-width: 500px) {
    .Footer{
        // padding: 0 0;
        .wrapper{
            justify-content: center;
            align-items: center;
            grid-template-columns: 250px;
        }
        .follow-us{
            .flex{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
    }
  }