.Loader{
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    .spinner{
        //border: 7px solid white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border-top: 7px solid $primary-color;
        animation: spin 1s infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}
