.Order{
    .content{
        min-height: calc(100vh - 200px);
        .order-content{
            display: flex;
            justify-content:space-evenly;
            margin: 1rem 0;
            .left{
                width: 68%;
                min-height: 500px;
                .cartItem{
                    display: flex;
                    height: 100px;
                    // border-radius: 5px;
                    border: 1px solid lightgrey;
                    padding: 0.2rem 1rem;
                    align-items: center;
                    img{
                        height: 100%;
                        margin-right: 1rem;
                    }
                    .details{
                        margin-left: auto;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        div{margin-right: 20px;}
                    } 
                }
            }
            .right{
                width: 25%;
                height: fit-content;
                .address{
                    padding: 0.5rem 0.5rem;
                    margin-bottom: 1rem;
                    input{
                        width: 100%;
                        height: 25px;
                        border-radius: 5px;
                        border: 1px solid grey;
                        margin-bottom: 8px;
                        padding: 0 0.5rem;
                        font-family: 'Poppins', sans-serif ;
                    }
                    textarea{
                        width: 100%;
                        height: 80px;
                        font-family: 'Poppins', sans-serif ;
                        border-radius: 5px;
                        border: 1px solid grey;
                        margin-bottom: 0px;
                        padding: 0.25rem 0.5rem;
                        resize: none;
                    }
                }
                .delivery-method{
                    padding: 0.5rem 0.5rem;
                    margin-bottom: 1rem;
                    .input-group{
                        input{
                            margin-right: 0.5rem;
                        }
                    }
                }
                .order-info{
                    padding: 0.5rem 0.5rem;
                    margin-bottom: 1rem;
                    div{
                        display: flex;
                        justify-content: space-between;
                        margin: 0.25rem 0;
                    }
                }
                .help{
                    margin-top: 1rem;
                    padding: 0.5rem 0.5rem;
                    button{
                        width: 80%;
                        display: block;
                        margin: 0.5rem auto;
                        background: white;
                        border-radius: 5px;
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                        padding: 0.65rem 0;
                        font-size: 1rem;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
                .place-order{
                    font-weight: bold;
                    width: 100%;
                    background: $secondary-color;
                    border-radius: 5px;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                    padding: 1rem 0;
                    font-size: 1rem ;
                    cursor: pointer;
                    color: white;
                    &:hover{
                        background: darken($color: $secondary-color, $amount: 5)
                    }
                }

            }
            .pane{
                padding: 1rem 0.5rem;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                border-radius: 5px;
                background: darken($color: white, $amount: 2)
            }
        }
    }
}