.ProductList{
    min-height: 100px;
    .title{
        margin-bottom: 0.75rem;
    }
    .grid{
        width: 100%;
        min-height: 150px;
        // grid-template-columns: repeat(4, 250px);
        grid-template-columns: repeat(auto-fit, 230px);
        grid-row-gap: 40px;
        grid-column-gap: 35px;
        justify-content: center;
        padding: 0.5rem 0.5rem;
        margin: auto;
        justify-content: center;
    }
}

// @media screen and (max-width: 768px) {
//     .ProductList{
//         .grid{
//             grid-template-columns: repeat(2, auto);
//         }
//     }
// }