.ProductsDetail{
    >.content{        
        background-color:white;
        width:100%;
        height: fit-content;
        // min-height: 100px;
        background: white;
        margin-top: 2.5rem;
        padding: 1.3rem 1rem;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        border-radius:10px;
        position: relative;
        .back{
            font-size: 1.5rem;
            width: fit-content;
            padding: 0.1rem 0.75rem;
            margin: 1rem 0 1.5rem 0;
            cursor: pointer;
            height: 40px;
            display: flex;
            align-items: center;
            &:hover{
                background-color: darken($color: white, $amount:5%)
            }
        }
        .top-row{
            display: flex;
            // align-items: center;
            justify-content: space-between;
            padding: 0 1.5rem;
            font-size: 0.9rem;
            margin-bottom: 1.5rem;
            div{
                max-width: 300px;
                .title{
                    color: #ACACAC;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
        .bottom-row{
            margin-top: 2rem;
            width: 100%;
            height: fit-content;
            padding: 0 1.5rem;
            display: flex;
            justify-content: space-between;
            .description{
                max-width: 55%;
                .title{
                    color: #ACACAC;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
            .image{
                width: 300px;
                height: fit-content;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .controls{
            height: 40px;
            padding: 0 1.5rem;
            .content{
                width: 600px;
                height: 100%;
                display:flex;
                align-items: center;
                justify-content: space-between;
                .btn{
                    height: 100%;
                    width: 250px;
                    border-radius: 5px;
                    border: none;
                    display: inline-flex;
                    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20),
                    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
                    text-align: center;
                    align-items: center;
                    justify-content:center;
                    font-size: 0.9rem;
                    &-red{
                        background-color: rgb(219, 62, 62);
                        color: white;                    
                    }
                    &-white{
                        background-color: white;
                        color: $primary-color;                    
                    }
                }
            }
        }
    }
    
}