.SideNav{
    width: 300px;
    background-color: #FFFFFF;
    height: 100%;
    float: left;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    align-items: center;
    
    .content{
        height: 750px;
        width: 100%;
        background: inherit;
        flex-direction: column;
        justify-content: space-evenly;
        .logo{
            background-color: white;
            margin: 1rem auto;
            height: fit-content;
            width: fit-content;
            padding: 0.2rem 0.85rem;
            align-items: center;
            justify-content: center;
            line-height: 46px;
            font-size: 1.9rem;
            font-weight: bolder;
            border-radius: 5px;
        }
        .nav{
            background: inherit;
            height:fit-content;
            .nav-item{
                padding: 1rem;
                border-left: 5px solid transparent;
                display: flex;
                // justify-content:center;
                text-align: left;
                align-items: center;
                position: inherit;
                color: #3A3A3A;
                font-size: 1.05rem;
                .icon{
                    position: absolute;
                    left: 30px;
                }
                p{
                    margin-left: 2.3rem;
                }
                &.active{
                    border-color: $secondary-color;
                    color: #0C0500;
                    font-weight: bold;
                    &:hover{
                        background: white;
                    }
                }
                &:hover{
                    color: #0C0500;
                    background: darken($color: white, $amount: 5);
                }
            }
        }
        .logout{
            .logout-button{
                margin: auto;
                padding: 0.65rem 2.5rem;
                color: $primary-color;
                border: none;
                background: white;
                box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 600;
                display:flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .icon{margin-right: 0.5rem;}
            }
            .nav-item{display: none;}
        }
    }
    @media screen and (max-width: 1366px) {
        width: 65px;
        .content{
            .logo{
            display: none;
            }
            .nav .nav-item{
                padding: 1.5rem 0;
                margin: 1rem auto;
                text-align: center;
                font-size: 1.3rem;
                p{
                    display: none;
                }
                .icon{
                    position: relative;
                    left: 0;
                    margin: auto;
                }
            }
            .logout{
                .logout-button{
                    display: none;
                }
                .nav-item{
                    display: block;
                    p{display: none}
                    padding: 1.4rem 0;
                    margin: 1rem auto;
                    text-align: center;
                    font-size: 1.3rem;
                    color: $primary-color;
                    width: 100%;
                    &:hover{
                        background: darken($color: white, $amount: 5);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 680px) {
        display:none;
    }
}
